---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "custom";


.border-t {
    border-top: 3px solid;
    border-top-color: #8cba80;
}

.bg-wheat {
    background-color: wheat;
}

.bg-moccasin {
    background-color: moccasin;
}


.post-content {
    text-align: justify;
}
    .center-image {
        margin: 0 auto;
        display: block;
    }
    .previous-next {
        margin-bottom: 30px;
    }
        .previous {
            float: left;
        }
        .next {
            float: right;
        }



.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }


.svg-icon {
    width: 22px;
    height: 22px;
}